* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'sourcehansanscn-medium';
    src: url('../font-family/SOURCEHANSANSCN-MEDIUM.OTF ');
    src: url('../font-family/SOURCEHANSANSCN-MEDIUM.OTF') format('OpenType');
    font-style: normal;
}
@font-face {
    font-family: 'sourcehansanscn-normal';
    src: url('../font-family/SOURCEHANSANSCN-NORMAL.OTF ');
    src: url('../font-family/SOURCEHANSANSCN-NORMAL.OTF') format('OpenType'), 
    font-style: normal;
}
@font-face {
    font-family: 'sourcehansanscn-light';
    src: url('../font-family/SOURCEHANSANSCN-LIGHT.OTF ');
    src: url('../font-family/SOURCEHANSANSCN-LIGHT.OTF') format('OpenType'), 
    font-style: normal;
}

.from-below, 
.from-below-to-below .effeckt-modal { 
-webkit-transform: translateX(100%); 
-ms-transform: scale(0.5); 
-o-transform: scale(0.5); 
transform: scale(0.5); 
opacity: 0; 
-webkit-transition: all 500ms; 
-o-transition: 500ms; 
transition: 500ms; 
} 
.effeckt-show, 
.effeckt-show.from-below-to-below .effeckt-modal { 
-webkit-transform: translateX(0); 
-ms-transform: scale(1); 
-o-transform: scale(1); 
transform: scale(1); 
opacity: 1; 
} 
.effeckt-show .effeckt-modal { 
visibility: visible; 
} 



html,
body {
    width: 100%;
    height: 100%;
}
.clear{overflow: hidden;
clear: both;}

.nave {
    width: 100%;
    height: 1.06rem;
    background-color: #a6e3e9;
    text-align: center;
    display: flex;
}
.left {
    flex: 0.25;
   align-items: center;
   display: flex;
}

#back {
    width: 0.24rem;
    display: block;
    height: 0.43rem;
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-left: 0.48rem;
}

.right {
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
#floor{
    width: 0.53rem;
    float: right;
    display: block;
    height: 0.49rem;
    background-image: url(floor.png);
    background-repeat: no-repeat;
    margin-right: 0.33rem;
    background-size:100% 100%;
    }

.center {
    flex: 0.5;
}
.biaoti{
    font-family: sourcehansanscn-medium;
    color: #fefefe;
    font-size: 0.42rem;
}
h1 {
    margin-top:0.14rem;
    height: 0.42rem;
    line-height: 0.42rem;
}
.content{
    font-family: sourcehansanscn-normal;
    font-size: 0.32rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin-top: 0.12rem;
    color: #fefefe;
}
.bg {
    width: 100%;
    height: 8.39rem;
    padding-top: 2.61rem;
    background-color: #eeeeee;
}



#zone { 
    padding-bottom: 0.16rem;
    position: absolute;
    left: 26.66%;
    animation: first 5s;
    box-shadow: 5px 5px 1px #e5e5e5;
    width: 46.66%;
    background-color: #ffffff;
    z-index: 1001;
    border-radius: 0.1rem;
    border: 1px solid #e5e5e5;
    display: none;
}
.selectzone{
    height: 0.76rem;
    width: 100%;
    border-radius: 0.1rem;
    background-color: #e3fdfd;
    text-align: center;
    color: #666666;
    font-size: 0.3rem;
    font-family: sourcehansanscn-normal;
    line-height: 0.76rem;
}
.zonlist{width: 100%;}
a.azone,a.bzone,a.czone{height: 0.66rem;
    margin-top: 0.1rem;
    display: block;
    width: 85.714%;
    border-radius: 5px;
    border: 2px solid #cbf1f5;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.66rem;
    color: #333333;
    font-family: sourcehansanscn-light;
    text-decoration: none;
}

a.azone:hover,a.bzone:hover,a.czone:hover{background-color: #c9eef2;
boder:0px;
}

#mask{
    background-color: #bebebe;
    opacity: 0.2;
    position: absolute;
    top:1.06rem;
    width: 100%;
    z-index: 1000;
}

