* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'sourcehansanscn-medium';
    src: url('../font-family/SOURCEHANSANSCN-MEDIUM.OTF ');
    src: url('../font-family/SOURCEHANSANSCN-MEDIUM.OTF') format('OpenType');
    font-style: normal;
}

@font-face {
    font-family: 'sourcehansanscn-normal';
    src: url('../font-family/SOURCEHANSANSCN-NORMAL.OTF ');
    src: url('../font-family/SOURCEHANSANSCN-NORMAL.OTF') format('OpenType'), font-style: normal;
}

@font-face {
    font-family: 'sourcehansanscn-light';
    src: url('../font-family/SOURCEHANSANSCN-LIGHT.OTF ');
    src: url('../font-family/SOURCEHANSANSCN-LIGHT.OTF') format('OpenType'), font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

.clear {
    overflow: hidden;
    clear: both;
}

.nave {
    width: 100%;
    height: 1.06rem;
    background-color: #a6e3e9;
    text-align: center;
    display: flex;
}

.left {
    flex: 0.25;
    align-items: center;
    display: flex;
}

#back {
    width: 0.24rem;
    display: block;
    height: 0.43rem;
    background-image: url(back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0.48rem;
}

.right {
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#floor {
    width: 0.53rem;
    float: right;
    display: block;
    height: 0.49rem;
    background-image: url(floor.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 0.33rem;
}

.center {
    flex: 0.5;
}

.biaoti {
    font-family: sourcehansanscn-medium;
    color: #fefefe;
    font-size: 0.42rem;
}

h1 {
    margin-top: 0.14rem;
    height: 0.42rem;
    line-height: 0.42rem;
}

#content {
    font-family: sourcehansanscn-normal;
    font-size: 0.32rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin-top: 0.12rem;
    color: #fefefe;
}

ul {
    position: absolute;
    right: 0;
    margin-top: -0.2rem;
    z-index: 3;
}

ul li {
    width: 2.2rem;
    background-color: #ffffff;
    height: 0.76rem;
    line-height: 0.76rem;
    border: 1px solid #e5eaed;
    font-family: sourcehansanscn-light;
    font-size: 0.26rem;
    color: #333333;
    text-align: center;
    list-style: none;
    border-radius: 5px;
}

ul li:hover {
    background-color: #c8edf1;
}

.sjx {
    display: block;
    border-top: 0px;
    margin-right: 0.465rem;
    float: right;
    width: 0px;
    height: 0px;
    background-color: #a6e3e9;
    border-left: 0.13rem solid transparent;
    border-right: 0.13rem solid transparent;
    border-bottom: 0.2rem solid #cbf1f5;
}

.sjx:hover {
    background-color: #a6e3e9;
}

.baowei {
    width: 100%;
    position: relative;
    height: 11rem;
    overflow: hidden;
}

.bg {
    width: 100%;
    background-color: #eeeeee;
    position: relative;
    height: 11rem;
}

#photos {
    width: 900%;
    display: none;
    z-index: 2;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

#photos img {
    float: left;
}
